@import "tailwindcss";

@theme {
  --color-primary: #1c5f21;
  --color-primary-hover: #154518;
  --color-background-light: #f6f8f6;
  --color-background-dark: #131f14;
  
  --font-display: "Inter", sans-serif;
  
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-display;
  }
}

.sidebar-scroll::-webkit-scrollbar {
  width: 4px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--color-primary), transparent 80%);
  border-radius: 10px;
}

.glass-morphism {
  @apply bg-white/70 dark:bg-background-dark/70 backdrop-blur-md border border-white/20 dark:border-white/5 shadow-xl;
}

.glass-card {
  @apply bg-white/40 dark:bg-white/5 backdrop-blur-sm border border-white/20 dark:border-white/5 rounded-2xl shadow-sm transition-all duration-300;
}
